<div id="menu-secundario">
	<ul>
	  <li class="nivel expandido"> <a href="#">Tutorització <img alt="cerrar"
	        src="{{ STATIC_PREFIX }}img/icoblanco_abierto.png"
	        height="10"
	        width="17"></a>
	    <ul class="subnivel">
	      <li><a href="/professorat/projectes/">Projectes assignats</a></li>
	    </ul>
	  </li>
	  <li class="nivel expandido"> <a href="#">Coordinació <img alt="cerrar"
	        src="{{ STATIC_PREFIX }}img/icoblanco_abierto.png"
	        height="10"
	        width="17"></a>
	    <ul class="subnivel">
	      <li> <a href="/coordinacio/professorat/">Gestió del Professorat</a> </li>
	      <li> <a href="/coordinacio/projectes/">Gestió de Projectes</a> </li>
	      <li> <a href="#">Gestió d'Hites</a> </li>
	      <li> <a href="/coordinacio/cursos/">Gestió de Cursos</a> </li>
	    </ul>
	  </li>
	</ul>
</div>