{% extends 'frontend.html' %}

{% block title %}{% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %} | Gestió d'Hites{% endblock %}

{% block ruta %}Coordinació: <a href="/coordinacio/evaluacio/">Gestió d'hites</a> | {% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %}{% endblock %}

{% block tituloPagina %}{% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					  <form action="{% ifequal accion "nuevo" %}./nou{% else %}./edita{% endifequal %}" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
							  	  		<tr>
							  	  			<td width="125px"><label for="id_nombre">Nom de l'evaluació:</label></td>
							  	  			<td>{{ form.nombre }}</td>
							  	  			<td>{{ form.nombre.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_evaluador">Evaluador:</label></td>
							  	  			<td>{{ form.evaluador }}</td>
							  	  			<td>{{ form.evaluador.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_miembrosTribunal">Miembros tribunal:</label></td>
							  	  			<td>{{ form.miembrosTribunal }}</td>
							  	  			<td>{{ form.miembrosTribunal.errors }}</td>
							  	  		</tr>
					  </table>
					  <input type="submit" value="Guarda canvis" onclick="if (!confirm('Estas segur de guardar els canvis?')) return false;"/>
					  </form>
{% endblock %}
