{% extends 'frontend.html' %}

{% block title %}{% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %} | Gestió d'Hites{% endblock %}

{% block ruta %}Coordinació: <a href="/coordinacio/professorat/">Gestió d'hites</a> | {% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %}{% endblock %}

{% block tituloPagina %}{% ifequal accion "nuevo" %}Nova evaluació{% else %}Edició de l'evaluació{% endifequal %}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					  <form action="{% ifequal accion "nuevo" %}./nou{% else %}./edita{% endifequal %}" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
							  	  		<tr>
							  	  			<td width="125px"><label for="id_pregunta">Pregunta:</label></td>
							  	  			<td>{{ form.pregunta }}</td>
							  	  			<td>{{ form.pregunta.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_tipoRespuesta">Tipus resposta:</label></td>
							  	  			<td>{{ form.tipoRespuesta }}</td>
							  	  			<td>{{ form.tipoRespuesta.errors }}</td>
							  	  		</tr>
					  </table>
					  <input type="submit" value="Guarda canvis"/>
					  <input id="eliminar" name="boton" type="submit" value="Eliminar" onclick="if (!confirm('Estas segur que vols eliminar aquest camp?')) return false;"/>
					  </form>
{% endblock %}
