{% extends 'frontend.html' %}

{% block title %}Crea Formulari{% endblock %}

{% block ruta %}Coordinació: Crea Formulari{% endblock %}

{% block tituloPagina %}Crea Formulari{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					  <form action="" method="post">
					  	<p>Clica per a activar el formulari del hite {{ item.nombre.lower }} del alumne {{ student.nombre}} {{ student.apellidos}}
					  	<input type="submit" value="Activar" onclick="if (!confirm('Estas segur de activar el hite {{ item.nombre.lower }}?')) return false;"/></p>
					  </form>
{% endblock %}
