{% extends 'frontend.html' %}

{% block title %}Valoración del {{ form.hito }} del alumno {{ form.proyecto.alumno.nombreCompleto}}{% endblock %}

{% block ruta %}Valoración del {{ form.hito }} del alumno {{ form.proyecto.alumno.nombreCompleto}}{% endblock %}

{% block tituloPagina %}Valoración del {{ form.hito }} del alumno {{ form.proyecto.alumno.nombreCompleto}}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					  <form action="" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  	  {% for evaluacion in form.evaluaciones %}
					  	  <tr>
					  	  	<td class="list">
					  	  	<span class="list"><b>{{ evaluacion.evaluation }}</b></span><br/>
					  	  	<ul>
						  	  	<li>{% autoescape off %}{{ evaluacion.valorationForm }}{% endautoescape %}

<!-- 							  	  	<table>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_nombre">Nom:</label></td>
							  	  			<td></td>
							  	  			<td></td>
							  	  		</tr>
							  	  	</table>-->
						  	  	</li>
					  	  	</ul>
					  	  	</td>
					  	  </tr>
					  	  {% endfor %}
					  </table>
					  <input type="submit" value="Guarda canvis" onclick="if (!confirm('Estas segur de guardar els canvis?')) return false;"/>
					  </form>
{% endblock %}
