{% extends 'frontend.html' %}

{% block title %}{% ifequal rol "A" %}Estat de la teva valoració{% else %}Evaluació de {{ student.nombre }} {{ student.apellidos }}{% endifequal %}{% endblock %}

{% block ruta %}{% ifequal rol "A" %}{% else %}{% if "coordinacio" in request.path%}Coordinació: <a href ="/coordinacio/projectes/">Gestió de Projectes</a>{% else %}Tutorització: <a href="/professorat/projectes/">Projectes Assignats</a>{% endif %} | Evaluació de {{ student.nombre }} {{ student.apellidos }}{% endifequal %}{% endblock %}

{% block tituloPagina %}{% ifequal rol "A"%}Estat de la teva valoració{% else %}Evaluació de {{ student.nombre }} {{ student.apellidos }}{% endifequal %}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	{% if hitos %}
		{% for hito in hitos %}
			<tr>
				<td class="list">
					<span class="list"><b>{{ hito }}</b> {% ifequal hito.getStatus "lock" %}<img src="/media/img/bloqueado.png" alt="(Bloquejat)" title="Hite bloquejat"/>{% ifequal project.estado "P"%}<a href="formulari/hite/{{ hito.id }}/crea/"><img src="/media/img/ir.png" alt="Activar hite" title="Clica per a activar el hite"/></a> {% endifequal %}{% else %}{% ifequal hito.getStatus "unlock" %}<img src="/media/img/pendiente.png" alt="(Pendent)" title="Hite pendent, es necesari que estiguen contestades totes les evaluacions per estar completat"/>{% else %}{% ifequal hito.getStatus "complete" %}<img src="/media/img/completado.png" alt="(Completat)" title="Hite completat"/>{% endifequal %}{% endifequal %}{% endifequal %}</span> <br/>
					{% if hito.evaluaciones %}
						<ul><li>
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
						{% for evaluacion in hito.evaluaciones %}
							<tr>
								<td class="list2">
									<span class="list2"><b>{{ evaluacion }}</b> {% for evaluation in evaluacion.getForms %}	<a href="/formulari/{{ evaluacion }}"><img src="/media/img/ir.png" alt="Anar al formulari" title="Respon el formulari"/></a>{% endfor %} {% ifequal evaluacion.getStatus "unlock" %}<img src="/media/img/pendiente.png" alt="(Pendent)" title="Evaluacio pendent"/>{% else %}{% ifequal evaluacion.getStatus "complete" %}<img src="/media/img/completado.png" alt="(Completat)" title="Evaluacio completada"/> {% if coordinator %}<a href="formulari/evaluacio/{{ evaluacion.id }}/reactivar/">Reactivar</a>  {% endif %}{% endifequal %}{% endifequal %}</span> <br/>
									{% if evaluacion.preguntas %}
										<ul>
											{% for pregunta in evaluacion.preguntas %}
												<li>{{ pregunta }}</li>
											{% endfor %}									
										</ul>
									{% else %}
										<ul><li>No hi han preguntes per a aquesta evaluació</li></ul> 
									{% endif %}
								</td>
							</tr>
						{% endfor %}
						</table></li></ul>
					{% else %}
						<ul><li>No hi han evaluacions per a aquest hite.</li></ul>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr><td>
		{% if sistemaEvaluacion %}
		<p>No hi han hites per a aquest sistema d'evaluació.</p>
		{% else %}
		<p>No existeix cap sistema d'evaluació per a aquest curs.<form method="post"><input type="submit" value="Copiar l'estructura del sistema d'evaluació del curs pasat"/></form><p>
		{% endif %}
		</td></tr>
	{% endif %}
	</table> 
{% endblock %}
