{% extends 'frontend.html' %}

{% block title %}{% ifequal form.accion "nuevo" %}Nou Projecte{% else %}Edició Projecte{% endifequal %} | Gestió de Projectes{% endblock %}

{% block ruta %}Coordinació: <a href="/coordinacio/projectes/">Gestió de Projectes</a> | {% ifequal accion "nuevo" %}Nou Projectes{% else %}Edició Projecte{% endifequal %}{% endblock %}

{% block tituloPagina %}{% ifequal accion "nuevo" %}Nou Projecte{% else %}Edició Projecte{% endifequal %}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					{% ifequal form.accion "nuevo" %}
					<div id="autocompletado">
					<textarea  id="textarea_auto"></textarea>
					<input type="button" id="button_auto" onclick="autocompletadoAction();" value="Omplir a partir del correu"></input>
					</div>
					{% endifequal %}
					<form action="{% ifequal form.accion "nuevo" %}./nou{% else %}.{% endifequal %}" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  	  <tr>
					  	  	<td class="list">
					  	  	<span class="list"><b>Dades Personals</b></span><br/>
					  	  	<ul>
						  	  	<li>
							  	  	<table>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-nombre">Nom:</label></td>
							  	  			<td>{{ form.alumnoForm.nombre }}</td>
							  	  			<td>{{ form.alumnoForm.nombre.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-apellidos">Cognoms:</label></td>
							  	  			<td>{{ form.alumnoForm.apellidos }}</td>
							  	  			<td>{{ form.alumnoForm.apellidos.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-usuarioUJI">Usuari UJI:</label></td>
							  	  			<td>{{ form.alumnoForm.usuarioUJI }}</td>
							  	  			<td>{{ form.alumnoForm.usuarioUJI.errors }}</td>
							  	  		</tr>
							  	  	</table>
						  	  	</li>
					  	  	</ul>
					  	  	
					  	  	<span class="list"><b>Estància en Pràctiques</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_proyecto-empresa">Empresa:</label></td>
							  	  			<td>{{ form.proyectoForm.empresa }}</td>
							  	  			<td>{{ form.proyectoForm.empresa.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-supervisor">Supervisor:</label></td>
							  	  			<td>{{ form.proyectoForm.supervisor }}</td>
							  	  			<td>{{ form.proyectoForm.supervisor.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-email">Email supervisor:</label></td>
							  	  			<td>{{ form.proyectoForm.email }}</td>
							  	  			<td>{{ form.proyectoForm.email.errors }}</td>
							  	  		
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-telefono">Telèfon:</label></td>
							  	  			<td>{{ form.proyectoForm.telefono }}</td>
							  	  			<td>{{ form.proyectoForm.telefono.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-inicio">Data d'inici</label></td>
							  	  			<td>{{ form.proyectoForm.inicio }}</td>
							  	  			<td>{{ form.proyectoForm.inicio.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-dedicacionSemanal">Dedicació semanal:</label></td>
							  	  			<td>{{ form.proyectoForm.dedicacionSemanal }}</td>
							  	  			<td>{{ form.proyectoForm.dedicacionSemanal.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	<span class="list"><b>Projecte</b></span><br>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_proyecto-titulo">Títol:</label></td>
							  	  			<td>{{ form.proyectoForm.titulo }}</td>
							  	  			<td>{{ form.proyectoForm.titulo.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	<span class="list"><b>Tutor</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_proyecto-tutor">Nom:</label></td>
							  	  			<td>{{ form.proyectoForm.tutor }}</td>
							  	  			<td>{{ form.proyectoForm.tutor.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  		
					  		<span class="list"><b>Altra Informació</b></span><br/>
					  		<ul>
					  			<li>
					  			{{ form.proyectoForm.otrosDatos }}
					  			</li>
					  		</ul>
					  		</td>
					  	</tr>
					  </table>
					  <input type="submit" value="Guarda canvis" onclick="if (!confirm('Estas segur de guardar els canvis?')) return false;"/>
					  </form>
{% endblock %}
