{% extends 'frontend.html' %}

{% block title %}{% if "nou" in request.path %}Nou Projecte{% else %}Edició Projecte{% endif %} | {% if tutor %}Projectes Assignats{% else %}{% if profesor %}Projectes que tutoritza {{ profesor.nombre }} |{% endif %} Gestió de Projectes{% endif %}{% endblock %}

{% block ruta %}{% if not tutor %}Coordinació: <a href="/coordinacio/projectes/">Gestió de Projectes</a>{% if profesor %} | <a href="/coordinacio/projectes/{{ profesor.usuarioUJI }}/">Projectes que tutoritza {{ profesor.nombre }}</a>{% endif %} | {% if "nou" in request.path %}Nou Projectes{% else %}Edició Projecte{% endif %}{% else %}Professorat: <a href="/professorat/projectes/">Projectes Assignats</a> | {% if "nou" in request.path %}Nou Projectes{% else %}Edició Projecte{% endif %}{% endif %}{% endblock %}

{% block tituloPagina %}{% if "nou" in request.path%}Nou Projecte{% else %}Edició Projecte{% endif %}{% endblock %}

{% block menuPagina %}{% include 'menu.html' %}{% endblock %}

{% block contenido %}
					{% if "nou" in request.path %}
					<div id="autocompletado">
					<textarea  id="textarea_auto"></textarea>
					<input type="button" id="button_auto" onclick="autocompletadoAction();" value="Omplir a partir del correu"></input>
					</div>
					{% endif %}
					{% if errors %}
					<p style="color:red;">{{ errors }}</p>
					{% endif %}
					<form action="{% if "nou" in request.path %}./nou{% else %}.{% endif %}" method="post">
					  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
					  	  <tr>
					  	  	<td class="list">
					  	  	<span class="list"><b>Dades Personals</b></span><br/>
					  	  	<ul>
						  	  	<li>
							  	  	<table>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-nombre">Nom:</label></td>
							  	  			<td>{{ form.alumnoForm.nombre }}</td>
							  	  			<td>{{ form.alumnoForm.nombre.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-apellidos">Cognoms:</label></td>
							  	  			<td>{{ form.alumnoForm.apellidos }}</td>
							  	  			<td>{{ form.alumnoForm.apellidos.errors }}</td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_alumno-usuarioUJI">Usuari UJI:</label></td>
							  	  			<td>{{ form.alumnoForm.usuarioUJI }}</td>
							  	  			<td>{% if not form.alumnoEsValido %}{% if form.alumnoForm.usuarioUJI.errors %}{{ form.alumnoForm.usuarioUJI.errors }}{% else %}alXXXXXX{% endif %}{% endif %}</td>
							  	  		</tr>
							  	  	</table>
						  	  	</li>
					  	  	</ul>
					  	  	
					  	  	<span class="list"><b>Estància en Pràctiques</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_proyecto-empresa">Empresa:</label></td>
							  	  			<td>{{ form.proyectoForm.empresa }}</td>
							  	  			<td><label>{{ form.proyectoForm.empresa.errors }}</label></td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-supervisor">Supervisor:</label></td>
							  	  			<td>{{ form.proyectoForm.supervisor }}</td>
							  	  			<td><label>{{ form.proyectoForm.supervisor.errors }}</label></td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-email">Email supervisor:</label></td>
							  	  			<td>{{ form.proyectoForm.email }}</td>
							  	  			<td><label>{{ form.proyectoForm.email.errors }}</label></td>
							  	  		
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-telefono">Telèfon:</label></td>
							  	  			<td>{{ form.proyectoForm.telefono }}</td>
							  	  			<td><label>{{ form.proyectoForm.telefono.errors }}</label></td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-inicio">Data d'inici</label></td>
							  	  			<td>{{ form.proyectoForm.inicio }}</td>
							  	  			<td><label>{{ form.proyectoForm.inicio.errors }}</label></td>
							  	  		</tr>
							  	  		<tr>
							  	  			<td width="125px"><label for="id_proyecto-dedicacionSemanal">Dedicació semanal:</label></td>
							  	  			<td>{{ form.proyectoForm.dedicacionSemanal }}</td>
							  	  			<td><label>{{ form.proyectoForm.dedicacionSemanal.errors }}</label></td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	<span class="list"><b>Projecte</b></span><br>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_proyecto-titulo">Títol:</label></td>
							  	  			<td>{{ form.proyectoForm.titulo }}</td>
							  	  			<td>{{ form.proyectoForm.titulo.errors }}</td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	
					  	  	{% if form.tutorForm %}			  	  	
					  	  	<span class="list"><b>Tutor</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  				<tr>
							  	  			<td width="125px"><label for="id_tutor-tutor">Nom:</label></td>
							  	  			<td>{{ form.tutorForm.tutor }}</td>
							  	  			<td><label>{{ form.tutorForm.tutor.errors }}</label></td>
							  	  		</tr>
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  		{% endif %}
					  		
					  		{% if form.tribunalForm %} 
					  		<span class="list"><b>Tribunal</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			{% if form.tribunalForm.errors %}
					  	  				{{ form.tribunalForm.errors }} 
					  	  			{% endif %}
					  	  			<table>
					  	  			{% for form in form.tribunalForm.forms %}
					  	  				<tr>
					  	  					<td>
					  	  						{{ form.miembro }} 
					  	  					</td>
					  	  					<td>
					  	  						{{ form.miembro.errors }}
					  	  					</td>
					  	  				<tr> 
					  	  			{% endfor %}
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  	  	{% endif %}
					  	  	
					  	  	{% if form.dateForm %}
					  	  	<span class="list"><b>Dates Estimades</b></span><br/>
					  	  	<ul>
					  	  		<li>
					  	  			<table>
					  	  			{% for form in form.dateForm.forms %}
					  	  				<tr>
					  	  					<td><label for="{{ form.id }}">{{ form.label }}:</label></td>
					  	  					<td>
					  	  						<input id="{{ form.id }}" type="text" data-duracion="{{ form.plazo }}" value="{{ form.form.fecha.value | date }}"/>
					  	  						{{ form.form.fecha }}
					  	  					</td>
					  	  					<td>
					  	  						{% if form.form.fecha.errors %}
					  	  						{{ form.form.fecha.errors }}
					  	  						{% else %}
					  	  						(dd/mm/aaaa)
					  	  						{% endif %}
					  	  					</td>
					  	  				<tr> 
					  	  			{% endfor %}
					  	  			</table>
					  	  		</li>
					  	  	</ul>
					  		{% endif %}
					  	
					  		<span class="list"><b>Més Informació</b></span><br/>
					  		<ul>
					  			<li>
					  			{{ form.proyectoForm.otrosDatos }}
					  			</li>
					  		</ul>
					  		</td>
					  	</tr>
					  </table>
					  {{ form.alumnoForm.errors }}
					  ##
					  {{ form.proyectoForm.errors }}
					  <input type="submit" value="Guarda canvis" onclick="if (!confirm('Estas segur de guardar els canvis?')) return false;"/>
					  </form>
{% endblock %}
